@import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.handwritten-font {
  font-family: "Short Stack", cursive !important;
}

.header-font {
  font-family: "Quicksand", sans-serif !important;
  font-optical-sizing: auto !important;
  font-style: normal !important;
}

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.bg-graph-paper {
  background-color: #f5f5f5;
  background-image: linear-gradient(
      90deg,
      rgba(255, 216, 178, 0.3) 1px,
      transparent 1px
    ),
    linear-gradient(rgba(255, 240, 124, 0.3) 1px, transparent 1px);
  background-size: 20px 20px;
}

.dark .dark\:bg-dark-graph-paper {
  background-color: #0f1419;
  background-image: linear-gradient(
      90deg,
      rgba(73, 77, 80, 0.2) 1px,
      transparent 1px
    ),
    linear-gradient(rgba(73, 77, 80, 0.2) 1px, transparent 1px);
  background-size: 20px 20px;
}

/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 26%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 26%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 26%;
    --primary: 25 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 26%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;
    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 26%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 93%;
    --input: 0 0% 93%;
    --ring: 0 0% 26%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 13%;
    --foreground: 0 0% 100%;
    --card: 0 0% 13%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 100%;
    --primary: 25 100% 50%;
    --primary-foreground: 0 0% 13%;
    --secondary: 0 0% 26%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 26%;
    --muted-foreground: 0 0% 70%;
    --accent: 0 0% 26%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 26%;
    --input: 0 0% 26%;
    --ring: 0 0% 85%;
  }
} */

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
